body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
  }
  
.menu {
    background-color: #004BA8;
    overflow: hidden;
    display: flex; /* Added this line */
    justify-content: flex-start; 
    list-style-type: none;
}
  
.menu a {
    float: left;
    color: #f2f2f2;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
}
  
.menu a:hover {
    background-color: #C6E0FF;
    color: black;
}
  
.menu a.active {
    background-color: #3E78B2;
    color: white;
}

.mainbody {
    background-color: #C6E0FF;
    width: 600px;
    border: 15px #004BA8;
    padding: 30px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }

.logo{
    width: 45px;
    top: 0;
    left: 0;
    float: left;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

textarea {
    flex: 1; 
    margin: 0 10px; 
    padding: 10px;
    resize: vertical;
}

.button {
    margin-top: 20px;

}

.small-container {
    width: 300px; /* Adjust width as needed */
    margin: auto;
}

.signup {
    margin-top: 50px;
    background-color: #C6E0FF;
    width: 300px;
    padding: 20px;
    margin-left: 250px; /* Align signup section to the left */
    margin-right: auto; /* Align signup section to the right */
}

.login {
    margin-top: 50px;
    background-color: #C6E0FF;
    width: 300px;
    padding: 20px;
    margin-left: auto; /* Align login section to the left */
    margin-right: 250px; /* Align login section to the right */
}

