<!DOCTYPE html>
<html>
<head>
<title>How to Use Mini Mentor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='webdesign.css') }}">
</head>

<body>
    {% extends "layout.html" %}
{% block content %}
      <div class="howto, mainbody">
            <h1>How to Use Mini Mentor</h1>
            <ol>
                <li>Create an account and login</li>
                <li>Utilize the text box on the homepage to send mini mentor your writing for review</li>
                <li>Click on the history tab to view previous usage of Mini Mentor</li>
                <li>The Tips tab can provide you with more ways to improve your overall communication in the workplace</li>
            </ol>
      </div>
      {% endblock %}

</body>
</html>
