<!DOCTYPE html>
<html>
<head>
<title>Tips Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='webdesign.css') }}">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}
      <div class= "tips, mainbody">
        <h1>Professional Communication Tips</h1>
        <ul>
            <li>Keep sentence short and to the point</li>
            <li>Avoid using slang to give your writing a more professional tone</li>
            <li>Collect your thoughts before you write</li>
            <li>Be direct and avoid excess verbiage</li>
            <li>Proofread your writing before sending it out</li>
            <li>Practice every day!</li>
        </ul>>
      </div>
      {% endblock %}

</body>
</html>
